<h1>bemandingsoversigt</h1>
<form method="GET" action="bemandingsOversigtTid" id="tidform">
    <select name="month" form="tidform">
        <option value="1">Januar</option>
        <option value="2">feb</option>
        <option value="9">Oktober</option>
        <option value="11">November</option>
        <option value="12">December</option>
    </select>
    <input type="text" name="year" placeholder="år">
    <input type="button" onclick="getData()">
</form>

<table class="table table-light" id="opgaveloser" style="max-height: 300px">
    <thead>
        <tr>
            <th scope="col">Opgaveløser id</th>
            <th scope="col">Opgaveløser</th>
            <th scope="col">Opgave id</th>
            <th scope="col">Opgave</th>
            <th scope="col">KonsulentProfil</th>

            <th scope="col">40</th>
            <th scope="col">41</th>
            <th scope="col">42</th>
            <th scope="col">43</th>
            <th scope="col">44</th>
        </tr>
    </thead>
    <tbody>
        {{#each opgaveloser}}
            <tr id="opgaveloserRow" class="opgaveloser">
                <input type="hidden" id="{{@index}}" idName="opgaveloserId" value={{this.opgaveloserId}}>
                <input type="hidden" id="{{@index}}" idName="opgaveloserKonsulentProfilId" value={{this.opgaveloserKonsulentProfilId}}>
                <input type="hidden" id="{{@index}}" idName="opgaveId" value={{this.opgaveId}}>

                <td value={{this.opgaveloserId}}>{{this.opgaveloserId}}</td>
                <td value={{this.opgaveloserId}}>{{this.fornavn}} {{this.efternavn}}</td>
                <td value={{this.opgaveId}}>{{this.opgaveId}}</td>
                <td value={{this.opgaveId}}>{{this.opgaveNavn}}</td>
                <td value={{this.opgaveloserKonsulentProfilId}}>{{this.konsulentProfilNavn}}</td>


                
            </tr>
        {{/each}}
    </tbody>
</table>

<script src="/js/bemandingsoversigt.js"></script>