<h1>Bemandingsoversigt</h1>
<form method="GET" action="bemandingsOversigtTid" id="tidform">
    <select name="month" id="month" form="tidform">
        <option value="1">Januar</option>
        <option value="2">Februar</option>
        <option value="3">Marts</option>
        <option value="4">April</option>
        <option value="5">Maj</option>
        <option value="6">Juni</option>
        <option value="7">Juli</option>
        <option value="8">August</option>
        <option value="9">September</option>
        <option value="10">Oktober</option>
        <option value="11">November</option>
        <option value="12">December</option>
    </select>
    <input type="number" name="year" id="year" placeholder="År">
    <input type="button" id="getTimeData" value="Hent data">
</form>

<table class="table table-light" id="opgaveloserTable" style="max-height: 300px">
    <thead>
        <tr>
            <th scope="col">Opgaveløser id</th>
            <th scope="col">Opgaveløser</th>
            <th scope="col">Opgave id</th>
            <th scope="col">Opgave</th>
            <th scope="col">KonsulentProfil</th>
        </tr>
    </thead>
    <tbody>
        {{#each opgaveloser}}
            <tr id="opgaveloserRow" class="opgaveloser">
                <input type="hidden" id="{{@index}}" idName="opgaveloserId" value={{this.opgaveloserId}}>
                <input type="hidden" id="{{@index}}" idName="opgaveloserOpgaveId" value={{this.opgaveloserOpgaveId}}>

                <td value={{this.opgaveloserId}}>{{this.opgaveloserId}}</td>
                <td value={{this.opgaveloserId}}>{{this.fornavn}} {{this.efternavn}}</td>
                <td value={{this.opgaveId}}>{{this.opgaveId}}</td>
                <td value={{this.opgaveId}}>{{this.opgaveNavn}}</td>
                <td value={{this.opgaveloserKonsulentProfilId}}>{{this.konsulentProfilNavn}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>

<script src="/js/clientBemandingsoversigt.js"></script>