<h1>Opgaveoversigt</h1>
{{!-- <form method="GET" action="bemandingsOversigtTid" id="tidform">
    <select name="month" id="month" form="tidform">
        <option value="1">Januar</option>
        <option value="2">Februar</option>
        <option value="3">Marts</option>
        <option value="4">April</option>
        <option value="5">Maj</option>
        <option value="6">Juni</option>
        <option value="7">Juli</option>
        <option value="8">August</option>
        <option value="9">September</option>
        <option value="10">Oktober</option>
        <option value="11">November</option>
        <option value="12">December</option>
    </select>
    <input type="number" name="year" id="year" placeholder="År">
    <input type="button" id="getTimeData" value="Hent data">
</form> --}}

{{!-- <button type="button" id="toggleWeeks" class="toggledUsed">Se timer til rådighed for uge</button> --}}

<table class="table table-light" id="opgaveTable">
    <thead>
        {{!-- <tr id="firstHead">
            <th colspan="6"></th>
            <th colspan="6" id="thMonth">Januar</th>
        </tr> --}}
        <tr>
            {{!-- <th>Opgave id</th> --}}
            <th>Opgave</th>
            <th>Lokation</th>
            <th>Kontrakt Status</th>
            <th>Start</th>
            <th>Slut</th>
            <th>Deadlines</th>
            <th>Estimeret-Bemandet</th>
           

        </tr>
    </thead>
    <tbody>
        {{#each opgaver}}
        <tr class="opgaveRow centerTextTd">
            <input type="hidden" id="{{@index}}" idName="opgaveId" value={{this.opgaveId}}>

            {{!-- <td value={{this.opgaveId}}>{{this.opgaveId}}</td> --}}
            <td class="opgaveTd pointer" value={{this.opgaveId}}>{{this.opgaveNavn}}</td>
            <td value={{this.lokationId}}>{{this.lokationNavn}}</td>
            <td value={{this.opgaveStatusId}}>{{this.kontraktStatusNavn}}</td>
            <td class="date">{{this.startDato}}</td>
            <td class="date">{{this.slutDato}}</td>
            <td class="seDeadlines">Tryk for at se deadlines</td>
            <td class="estimeretTimetal" estimeret="{{this.estimeretTimetal}}" usedHours="{{this.timerBrugt}}">{{this.estimeretTimetal}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- <button id="click">test</button> --}}
<script src="/js/clientopgaveoversigt.js"></script>