<form method="POST" id="opgaveform">
    <h1>Rediger opgaveløsere på opgave</h1>
    <div class="row">
        <div class="col-4">
            {{!-- Søge kriterier --}}
            <h2>Søge kriterier</h2>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="startDatoSearch">startDato</label>
                <div class="col-sm-5">
                    <input type="date" class="form-control" id="startDatoSearch" name="startDatoSearch" value="null">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="slutDatoSearch">slutDato</label>
                <div class="col-sm-5">
                    <input type="date" class="form-control" id="slutDatoSearch" name="slutDatoSearch" value="null">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="lokationId">lokation</label>
                <div class="col-sm-5">
                    <select name="lokationId" id="lokationId" form="opgaveform">
                        <option value=null></option>
                        {{#each lokation}}
                        <option value={{this.lokationId}}>{{this.lokationNavn}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="konsulentProfil">konsulentProfil</label>
                <div class="col-sm-5">
                    <select id="konsulentProfil" form="profilform">
                        <option value=null></option>
                        {{#each konsulentProfil}}
                        <option value={{this.konsulentProfilId}}>{{this.konsulentProfilNavn}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label"></label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="showRedFields">
                    <label class="form-check-label" for="showRedFields">
                        Vis røde felter
                    </label>
                </div>
            </div>



            <div class="form-group row">
                <label class="col-sm-3 col-form-label"></label>
                <div class="col-sm-5">
                    <button type="button" id="searchButton">Søg</button>
                </div>
            </div>

        </div>
        <div class="col">
            {{!-- Mulige opgaveløsere tabel --}}
            <h2>Mulige opgaveløsere</h2>
            <div class="form-control row">
                <table class="table table-light" id="muligeOpgavelosere" style="max-height: 300px">
                    <thead>
                        <tr>
                            <th scope="col">Navn</th>
                            <th scope="col">Konsulentprofil</th>
                            <th scope="col">Lokation</th>
                            <th scope="col">Ledige timer</th>
                            {{!-- <th scope="col">Andre opgaver</th> --}}
                        </tr>
                    </thead>
                    <tbody class="opgaveloserTbody">
                        {{#each opgavelosere}}
                        <tr id="opgaveloserRow" class="muligOpgaveloser pointer" arbejdstidPrUge={{this.arbejdstidPrUge}}
                            opgaveloserKonsulentProfilId={{this.opgaveloserKonsulentProfilId}}>
                            {{!-- <input type="hidden" id="{{@index}}" idName="opgaveloserKonsulentProfilId" value={{this.opgaveloserKonsulentProfilId}}>
                            --}}
                            <td class="opgaveloserId" value={{this.opgaveloserId}}>{{this.fornavn}} {{this.efternavn}}</td>
                            <td class="konsulentProfilId" value={{this.konsulentProfilId}}>{{this.konsulentProfilNavn}}</td>
                            <td class="lokationId" value={{this.lokationId}}>{{this.lokationNavn}}</td>
                            <td class="ledigeTimer"></td>
                            <td class="timeAntal" orgTimeTal="0"></td>
                            {{!-- <td class="andreOpgaver"></td> --}}
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-4">
            {{!-- Opgave info --}}
            <h2>Opgave info</h2>
            <div id="opgaveId" value="{{opgaveInfo.opgaveId}}"></div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="opgavetypeId">opgavetype</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="opgavetypeId" name="opgavetypeId" value="{{opgaveInfo.opgavetypeNavn}}"
                        disabled>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="opgavelokationId">lokation</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="opgavelokationId" value="{{opgaveInfo.lokationNavn}}"
                        disabled>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="estimeretTimetal">Estimeret timetal</label>
                <div class="col-sm-5">
                    <input type="number" class="form-control" id="estimeretTimetal" name="estimeretTimetal" value="{{opgaveInfo.estimeretTimetal}}"
                        disabled>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="bemandedeTimer">Bemandede timer</label>
                <div class="col-sm-5">
                    <input type="number" class="form-control" id="bemandedeTimer" name="bemandedeTimer" value="0"
                        disabled>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="manglendeTimer">Manglende timer</label>
                <div class="col-sm-5">
                    <input type="number" class="form-control" id="manglendeTimer" name="manglendeTimer" value=""
                        disabled>
                </div>
            </div>

            <div class="form-control row">
                <table class="table table-light" id="deadlines" style="max-height: 300px">
                    <thead>
                        <tr>
                            <th scope="col">Dato</th>
                            <th scope="col">Kommentar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each deadlines}}
                        <tr value={{this.deadlineId}}>
                            <td>{{this.deadlineDato}}</td>
                            <td>{{this.deadlineKommentar}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>


            <div class="form-group row submitButton">
                <button type="button" id="submitCreate" class="btn btn-success">Gem ændringer</button>
            </div>

        </div>
        <div class="col">
            {{!-- Valgte opgaveløsere --}}
            <h2>Valgte opgaveløsere</h2>
            <div class="form-control row">
                <table class="table table-light" id="valgteOpgavelosere" style="max-height: 300px">
                    <thead>
                        <tr>
                            <th scope="col">Navn</th>
                            <th scope="col">Konsulentprofil</th>
                            <th scope="col">Lokation</th>
                            <th scope="col">Ledige timer</th>
                            <th scope="col">Timeantal</th>
                        </tr>
                    </thead>
                    <tbody class="opgaveloserTbody">
                        {{#each valgteOpgaveloser}}
                        <tr id="opgaveloserRow" class="valgtOpgaveloser pointer">
                            {{!-- <input type="hidden" id="{{@index}}" idName="opgaveloserKonsulentProfilId" value={{this.opgaveloserKonsulentProfilId}}>
                            --}}
                            <input type="hidden" class="opgaveloserOpgaveId" value={{this.opgaveloserOpgaveId}}>
                            {{!-- <div class="opgaveloserOpgaveId" value={{this.opgaveloserOpgaveId}}></div> --}}
                            <td class="opgaveloserId" value='{{this.opgaveloserId}}'>{{this.fornavn}}
                                {{this.efternavn}}</td>
                            <td class="konsulentProfilId" value={{this.konsulentProfilId}}>{{this.konsulentProfilNavn}}</td>
                            <td class="lokationId" value={{this.lokationId}}>{{this.lokationNavn}}</td>
                            <td class="ledigeTimer" orgledigeTimer=""></td>
                            <td class="timeAntal" orgTimeTal="{{this.timeAntal}}">{{this.timeAntal}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $('#startDatoSearch').val('2018-10-01')//TEST
        $('#slutDatoSearch').val('2018-12-01')
    {{#if bemandetTimerTotal.timeAntal}}
        $('#bemandedeTimer').val({{bemandetTimerTotal.timeAntal}})
        $('#manglendeTimer').val({{opgaveInfo.estimeretTimetal}} - {{bemandetTimerTotal.timeAntal}})

        {{else}}
        $('#manglendeTimer').val({{opgaveInfo.estimeretTimetal}})
    {{/if}}

    //hack til at fjerne valgte opgaveløsere fra mulige tabel
    $('.valgtOpgaveloser').each(function () {
        let valgtOpgaveloserId = $(this).children('.opgaveloserId').attr('value')

        $('.muligOpgaveloser').each(function () {
            let muligOpgaveloserId = $(this).children('.opgaveloserId').attr('value')
            if (valgtOpgaveloserId == muligOpgaveloserId)
                $(this).remove()
        })
    })
        
    })
</script>

<script src="/js/clienttilfojopgaveloser.js"></script>